@{
  ViewData["Title"] = "USMP";
}

<nav>
  <ol class="breadcrumb mt-3" style="margin-left: 1rem">
    <li class="breadcrumb-item"><a class="p-home__color-primary text-decoration-none" href="#">INICIO</a></li>
    <li class="breadcrumb-item active" aria-current="page">CAMPAÑAS</li>
  </ol>
</nav>

<div class="container-fluid mt-4">
  <div class="col-m-12">
    
</div>


